.banner {
  max-width: 1028px;
  margin: 0 auto;
  background-size: 100%;
  border-radius: 0px 0px 18px 18px;
  position: relative;

  &__button{
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: @white;
    padding: 8px;
    background: @orange;
    box-shadow: -5px 5px 20px rgba(255, 130, 25, 0.51);
    border-radius: 20px;
  }

  &__image {
    width: 100%;
    height: 100%;

    >img {
      width: 100%;
      height: 100%;
      border-radius: 0px 0px 18px 18px;
    }
  }
}

@media (max-width: 1200px) {
  .banner {
    width: 911px;
    height: 354px;
  }
}

@media (max-width: 576px) {
  .banner {
    width: 375px;
    height: 335px;
    border-radius: 0;
    overflow: visible;

    &--index {
      height: 260px;
    }

    &__image {  
      >img {
        border-radius: 0;
      }
    }

    &__button{
      position: absolute;
      bottom: -16px;
      right: 25px;
    }
  }
}