.header_control {
  max-width: 252px;
  margin: 0 0 0 25px;

  &__item {
    justify-content: center;
  }

  &__text {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: @white;
    margin-top: auto;
  }
}


@media (max-width: 1200px) {
  .header_control {
    max-width: 234px;
  
    &__text {
      font-size: 12px;
      line-height: 15px;
    }

    &__icon {
      transform: scale(0.75);
    }
  }  
}