.main_nav {
  margin: 0 auto;
  
  &__item {
    margin: 0 32px 0 0;

    &:last-child {
      margin: 0;
    }

    &:hover {
      .main_nav__submenu {
        left: 0;
        right: 0;
      }
    }
  }

  &__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: @white;
    padding: 15px 0;
    display: inline-block;

    &:hover {
      color: @orange;
    }
  }
}

@media (max-width: 1200px) {
  .main_nav {
    
    &__item {
      margin: 0 30px 0 0;
    }
  
    &__link {
      font-size: 16px;
      line-height: 20px;
    }
  }
}

@media (max-width: 576px) {
  .main_nav {
    width: 100%;
    margin: 0;
    flex-wrap: wrap;

    &__list {
      width: 100%;
      flex-direction: column;
      padding-bottom: 30px;
      margin: 0 0 30px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.22);

      &:last-child {
        border: none;
      }
    }
    
    &__item {
      margin: 0 0 14px;

      &:hover {
        .main_nav__submenu {
          left: auto;
          right: 0;
        }
      }
    }
  
    &__link {
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.02em;
      color: @black;
      padding: 0;
    }
  }
}