.promotion_page {
  &__row {
    border-bottom: 1px solid @border-color;

    &:last-child {
      margin: 75px auto;
      border: none;
      position: relative;

      .promotion_page__text {
        position: relative;
        margin-bottom: 0;
      }

      .promotion_page__text::before {
        content: "";
        width: 25px;
        height: 94px;
        background: url("../img/exclamation.svg") no-repeat center;
        background-size: contain;
        display: block;
        position: absolute;
        left: -67px;
        bottom: 3px;
      }
    }
  }

  &__title {
    margin: 0 0 15px;
  }

  &__date {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.01em;
    color: @orange;
    width: 100%;
    margin-bottom: 30px;
  }
  
  &__image {
    width: 791px;
    height: 187px;
    margin: 0 0 25px 88px;
  }

  &__description {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.01em;
    max-width: 790px;
    margin: 0 0 42px 88px;
  }

  &__caption {
    margin: 14px 0 20px;
  }

  &__text {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.01em;
    margin: 0 0 35px 88px;

    &--orange {
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0.01em;
      color: @orange;
      margin: 0 0 20px 88px;
    }
  }

  &__list {
    margin: 0 0 35px 88px;
    display: flex;
    flex-direction: column;
  }

  &__item {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.01em;
    margin-bottom: 13px;

    &:last-child {
      margin: 0;
    }
  }

  &__back_link {
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.01em;
    color: @orange;
    width: max-content;
    padding: 0 0 0 88px;
    margin: 45px 0 0 88px;

    .arrow-left(auto, @orange, 0);

    &::before,
    &::after {
      top: 110%;
    }

    &::before {
      right: 0;
    }
    
    &::after {
      width: 20px;
      height: 20px;
      transform: translate(2px,-50%) rotate(45deg);
    }
  }
}

@media (max-width: 576px) {
  .promotion_page {
    &__row {
      padding: 0 33px;
  
      &:last-child {
        margin: 70px auto;
  
        .promotion_page__text::before {
          content: "";
          width: 21.25px;
          height: 80px;
          background: url("../img/exclamation.svg") no-repeat center;
          background-size: contain;
          display: block;
          position: absolute;
          left: -37px;
          top: 6px;
        }

        .promotion_page__text {
          margin-left: 46px;
        }
      }
    }
  
    &__title {
      margin: 0 0 5px;
    }
  
    &__date {
      font-size: 12px;
      line-height: 15px;
      margin-bottom: 16px;
    }
    
    &__image {
      width: 100vw;
      max-width: none;
      height: 23.6vw;
      height: auto;
      margin: 0 0 25px 49%;
      transform: translateX(-50%);
      flex-shrink: 0;
    }
  
    &__description {
      font-size: 16px;
      line-height: 20px;
      max-width: 100%;
      margin: 0 0 25px 0;
    }

    &__caption {
      width: max-content;
      margin: 17px auto;
    }
  
    &__text {
      font-size: 16px;
      line-height: 20px;
      margin: 0 0 25px;
  
      &--orange {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 15px;
      }
    }

    &__list {
      margin: 0 0 20px 0;
      display: flex;
      flex-direction: column;
    }
  
    &__item {
      font-size: 16px;
      line-height: 20px;
    }
  
    &__back_link {
      font-size: 18px;
      line-height: 22px;
      width: max-content;
      padding: 0 0 0 34px;
      margin: 30px 0 0;
    }
  }
}