.rating {
  &__star {
    width: 18.12px;
    height: 17.76px;
    margin: 0 2px 0 0;

    &--fill {
      background: url('../img/star.svg') no-repeat center;
      background-size: 100%;
    }

    &:last-child {
      margin: 0;
    }
  }
}

@media (max-width: 576px) {
  .rating {
    &__star {
      width: 13.6px;
      height: 13.33px;
      margin: 0 1px 0 0;
    }
  }
}