.title {
  font-weight: 500;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: @black;
  text-align: left;
  width: 100%;
}

@media (max-width: 576px) {
  .title {
    font-size: 26px;
    line-height: 32px;
  }
}
